In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('./data/transactions.csv', low_memory=False)

df

,block_time,block_number,hash,value,tx_fee,nonce,from,to,method_id,sender,receiver,project,token_bought_symbol,token_sold_symbol,token_bought_amount,token_sold_amount,amount_usd,taker,tx_from,tx_to
0,2023-04-14 14:51:35.000 UTC,17046105.0,0x2afae7763487e60b893cb57803694810e6d3d136186a...,0,0.037013,0.0,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,NaN,0x60806040,0x0000000000000000000000000000000000000000,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-04-14 16:20:47.000 UTC,17046538.0,0xb38bba8bf8f61029a31e027c37fbc1065db784a39501...,0,0.001861,3.0,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,0x6982508145454ce325ddbe47a25d4ec3d2311933,0xa9059cbb,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,0x92fb5b4f8030103e0b11275c30965d1897ff23e5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-04-14 17:21:11.000 UTC,17046833.0,0x273894b35d8c30d32e1ffa22ee6aa320cc9f55f2adbb...,2000000000000000000,0.077539,4.0,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xf305d719,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,0xa43fe16908251ee70ef74718545e4fe6c5ccec9f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-04-14 17:34:47.000 UTC,17046900.0,0xc3760b499850b19d8f266dc10349d70f69c916982336...,1000000000000000,0.004451,5.0,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b,0x3593564c,0xa43fe16908251ee70ef74718545e4fe6c5ccec9f,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,uniswap-2,PEPE,WETH,1.951464e+11,0.001000,2.079390,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,0xfbfeaf0da0f2fde5c66df570133ae35f3eb58c9a,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b
4,2023-04-14 19:46:59.000 UTC,17047545.0,0x08153c0546e4f73b178edae90d1e30fb519c7c49ff0d...,13000034453500519,0.009752,12056.0,0xaf2358e98683265cbd3a48509123d390ddf54534,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7ff36ab5,0xa43fe16908251ee70ef74718545e4fe6c5ccec9f,0xaf2358e98683265cbd3a48509123d390ddf54534,uniswap-2,PEPE,WETH,2.519324e+12,0.013000,27.131592,0xaf2358e98683265cbd3a48509123d390ddf54534,0xaf2358e98683265cbd3a48509123d390ddf54534,0x7a250d5630b4cf539739df2c5dacb4c659f2488d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740573,2023-05-05 18:06:23.000 UTC,17196108.0,0x23c31e8dcfb173ce35e35c68ee2e76855ec155d3faff...,83470830000000000,0.031713,58.0,0x7fe051bb917176c25a4075ff39fa8cc9d58d08db,0x1111111254eeb25477b68fb85ed929f73a960582,0x12aa3caf,0xa43fe16908251ee70ef74718545e4fe6c5ccec9f,0x1111111254eeb25477b68fb85ed929f73a960582,uniswap-2,PEPE,WETH,5.174919e+07,0.083304,175.429769,0x1111111254eeb25477b68fb85ed929f73a960582,0x7fe051bb917176c25a4075ff39fa8cc9d58d08db,0x1111111254eeb25477b68fb85ed929f73a960582
740574,2023-05-05 18:06:23.000 UTC,17196108.0,0x99e413de098015becc78d87befd15d4e28af38c5e457...,45000000000000000,0.034109,1.0,0xc95a31655b766ef7ac26583f5de95fe9f36827f7,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b,0x3593564c,0x11950d141ecb863f01007add7d1a342041227b58,0xc95a31655b766ef7ac26583f5de95fe9f36827f7,uniswap-3,PEPE,WETH,2.774519e+07,0.045000,94.056205,0xc95a31655b766ef7ac26583f5de95fe9f36827f7,0xc95a31655b766ef7ac26583f5de95fe9f36827f7,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b
740575,2023-05-05 18:06:23.000 UTC,17196108.0,0xa057f54bacc1c43a34ce93bd684065282adae6f2f17a...,0,0.014329,2801715.0,0xe93381fb4c4f14bda253907b18fad305d799241a,0x6982508145454ce325ddbe47a25d4ec3d2311933,0xa9059cbb,0xe93381fb4c4f14bda253907b18fad305d799241a,0x100a5e7c3456c330c766929fb455601482564562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740576,2023-05-05 18:06:23.000 UTC,17196108.0,0xef7f9fae75cb41c4fcba29bccb27a8021227bf9bbc08...,0,0.013078,8.0,0xceb5a677fc4f2bbbeea35b31a3da95bc58749c77,0x6982508145454ce325ddbe47a25d4ec3d2311933,0xa9059cbb,0xceb5a677fc4f2bbbeea35b31a3da95bc58749c77,0x366975ca10cef09d04973b037fc8484074d10e67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740577,2023-05-05 18:06:23.000 UTC,17196108.0,0x0e3f3b0db1a8df3c764cc6265d7ce37b5adcf656a9b3...,60000000000000000,0.034322,3.0,0xa63013b085123f3b883a4cbe58a304afeeedb025,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b,0x3593564c,0x11950d141ecb863f01007add7d1a342041227b58,0xa63013b085123f3b883a4cbe58a304afeeedb025,uniswap-3,PEPE,WETH,3.700861e+07,0.060000,125.459200,0xa63013b085123f3b883a4cbe58a304afeeedb025,0xa63013b085123f3b883a4cbe58a304afeeedb025,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b